@font-face {
    font-family: "NC-bold";
    src: url('./fonts/NewsCycle-Bold.ttf') format('truetype');
    font-weight: 700;
    
}
@font-face {
    font-family: "NC-regular";
    src: url('./fonts/NewsCycle-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Nico";
    src: url('./fonts/NicoMoji-Regular.ttf') format('truetype');
    font-weight: 400;
}
:root{
    --bold: "NC-bold", sans-serif;
    --reg: "NC-regular", sans-serif;
    --nico: "Nico", sans-serif;
    --desk:  1370px;
    --tab: 768px;
    --mobail_500: 500px;
    --mobail_400: 400px;
}
