.Hero-Bgr {
    max-width: 100vw ;
    width: 100vw ;
    max-height: 937px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.Hero-Bgr-Img{
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover
}
.Hero-Bgr::before{
    content: '';
    display: block;
    width: 120vw;
    height: 10vw;
    position: absolute;
    left: 0;
    bottom: -7px;
    background: linear-gradient(1deg, #f29e3d 52.63%, rgba(215, 149, 104, 0.1) 79%);
    z-index: 1;
}

.Hero-Logo-Box{
    position: absolute;
    top: 13%;
    left: 19%;
    text-align: center;
}

.Hero-Logo{
    width: 450px;
    height: 474px;
    margin-bottom: 15px;
}

.Hero-Text{
    width: 574px;
    font-size: 40px;
    font-family: var(--bold);
    line-height: 161%;
    text-align: center;
    color: #fefaee;
    font-weight: 700;
}

@media (max-width: 1800px){
    .Hero-Logo{
        width: clamp(250px, 24vw, 450px);
        height:  clamp(274px, 24vw, 474px);
    }
    .Hero-Text{
        width: clamp(374px, 28vw, 574px);
        font-size: clamp(20px, 2vw, 40px);
        line-height: clamp(120%, 130%, 161%);
    }
    .Hero-bot{
        bottom: clamp(1%, 1vh, 22%);
    }
}
@media (max-width: 1200px){
    .Hero-Logo-Box{
        top: 15%;
    left: 14%;
}
    .Hero-Logo{
        width: clamp(100px, 20vw, 250px);
        height:  clamp(124px, 22vw, 274px);
    }
    .Hero-Text{
        width: clamp(274px, 25vw, 374px);     
    }
}
@media (max-width: 768px){
     .Hero-Logo-Box{
        top: 17%;
        left: 18%;
    }
    .Hero-Logo{ 
       width: clamp(150px, 23vw, 250px);
        height: clamp(124px, 19vw, 274px);
        margin-bottom: 5px;
    }
    .Hero-Text{
        width: 174px;
        font-size: clamp(13px, 1vw, 20px);
        line-height: 120%;
    }
}
