.About {
    position: relative;
    width: 100vw;
}
.imgLeft{
    width: 500px;
    height: 450px;
    position: absolute;
    transform: rotate(-22deg);
    top: 25%;
    left: 3%;
}
.imgRight{
    width: 345px;
    height: 700px;
    position: absolute;
    top: 10%;
    right: 0;
}
.About-title {
    width:fit-content;
    margin: 0 auto;
    text-align: center;
    font-family: var(--bold);
    font-weight: 700;
    font-size: 40px;
    color: #232357;
    z-index: 100;
    margin-top: 103px;
    position: relative;
    margin-bottom: 60px;
    padding-top: 30px;
}
.About-title::after {
    content: '';
    display: block;
    width: 110%;
    background-color: #0678F2;
    height: 4px;
    z-index: 100;
    position: absolute;
    left: -5%;
    bottom: -10px;
}
.About-box{
    max-width: 100vw;
    width: 65vw;
    height: 615px;
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
    gap: 10%;
    margin-bottom: 300px;
    position: relative;
}

.About-Text{
    border-radius: 28px;
    padding: 25px 20px;
    min-width: 360px;
    background-color: rgba(249, 209, 162, 0.85);
    font-family: var(--bold);
    font-weight: 700;
    font-size: 26px;
    line-height: 200%;
    text-align: center;
    color: #232357;
    z-index: 1;
    align-self: center;
}
@media (max-width: 1800px) {
    .About-Text{
    font-size: clamp(12px, 1.3vw, 26px);
    line-height: clamp(150%, 3vw, 200%)
}
    .About-title{
        margin-top: 40px;
    }
}
@media (max-width: 1200px){
   .About-box{
     margin: 0;
      margin-bottom: 200px;
      gap: 5%;
      width: 80vw;
   }
   .About-title{
        margin-top: 20px;
        font-size: clamp(30px, 3vw,40px);
    }
    .imgLeft{
        width: 333px;
        height: 300px;
        top: 35%;
        left: 0;
    }
    .imgRight{
        width: 230px;
        height: 466px;
        top: 20%;
        right: 0;
    }
}
@media (max-width: 768px){
   .About-box{
    flex-direction: column;
    width: 100vw;
    padding: 0;
    gap: 5%;
   } 
   .About-Text{
    width: 80%;
   }
   .About-box::before{
    right: -5%;
   }
}
@media (max-width: 550px) {
    .imgLeft{
        width: 222px;
        height: 200px;
        top: 35%;
        left: 0;
    }
    .imgRight{
        width: 153px;
        height: 310px;
        top: 60%;
        right: 0;
    }
}
