.Contacts{
    max-width: 100vw;
    position: relative;
}
.BrgContacts{
    width: 1093px;
    height: 410px;
    position: absolute;
    bottom: -50px;
    left: 20vw;
    z-index: -1;
}
.ContactsTitle{
    width:fit-content;;
    margin: 0 auto;
    text-align: center;
    font-family: var(--bold);
    font-weight: 700;
    font-size: 40px;
    color: #232357;
    z-index: 100;
    position: relative;
    margin-bottom: 100px;
    padding-top: 30px;
}
.ContactsTitle::after {
    content: '';
    display: block;
    width: 110%;
    background-color: #0678F2;
    height: 4px;
    z-index: 1;
    position: absolute;
    left: -5%;
    bottom: -10px;
    box-sizing: content-box;
}
.ContactsBox{
    padding: 50px 90px;
    background: rgba(248, 202, 147, 0.85);
    border-radius: 50px;
    width: 25%;
    position: relative;
}

.ContactsBlock{
    position: relative;
    margin: 0 auto;
    width: 1300px;
    margin-bottom: 140px;
    
}
.VisaApp{
    width: 384px;
    height: 337px;
    position: absolute;
    top: -10%;
    right: 0;
    transform: rotate(10deg);
    z-index: 2;
}
.ContactsBoxTitle{
    font-weight: 700;
    font-size: 31px;
    line-height: 139%;
    text-align: center;
    color: #232357;
    margin-bottom: 93px;
}
.ContactsLine{
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}
.ContactsText{
    font-family: var(--bold);
    font-weight: 700;
    font-size: 31px;
    text-align: center;
    color: #000;
    margin-left: 10px;
    margin-top: 5px;
}
.ContactsIcon{
    width: 50px;
    height: 50px;
}
@media (max-width:1400px) {
    .VisaApp{
    width: clamp(284px, 19vw, 384px);
    height: clamp(237px, 17vw,337px);
    right: 5%;
    }
    .ContactsBlock{
        width: 88vw;
        margin-left: 12%; 
    }
    .ContactsText{
    font-size: clamp(16px, 2.3vw, 31px);
    }
    .ContactsIcon{
    width: clamp(30px, 4vw, 50px);
    height: clamp(30px, 4vw, 50px);
    }
    .ContactsBoxTitle{
    font-size: clamp(20px, 2.5vw, 31px);
    margin-bottom: 53px;
    } 
    .BrgContacts{
    left: 10vw;
}
}
@media (max-width:1200px) {
    .ContactsTitle{
        font-size: clamp(30px, 3vw,40px);
    }
    .BrgContacts{
    width: 728px;
    height: 273px;
    left: 15vw;
}
    .VisaApp{
        width: clamp(184px, 24vw, 284px);
        height: clamp(137px,20vw,237px);
    }
}
@media (max-width:900px) {
     .BrgContacts{
    left: 0;
}
}
@media (max-width:768px) {
    .BrgContacts{
        width: 485px;
        height: 182px;
        left: 0;
        bottom: -30px;
    }
    .VisaApp{
       right: 17%;
        top:20%;
    }
    .ContactsBox{
    padding: 20px 40px;
    width: 70%;
    position: relative;
}
.ContactsBlock{

    margin-bottom: 50px; 
}
}